In [1]:
#Importar librerias
import os
import sys

In [16]:
# Declaracion variables - Python toma el tipo de variable del dato que está recibiendo.
nombre1 = "Hayde"
type(nombre1)

str

In [3]:
numdealumnos = 9
type(numdealumnos)

int

In [4]:
mitadnumalumnos = 4.5
type(mitadnumalumnos)

float

In [46]:
ejemplolista = [1,
                2,
                3]
type(ejemplolista)

list

In [6]:
listadevar = [nombre1, numdealumnos, mitadnumalumnos, ejemplolista]
print(listadevar)

['Hayde', 9, 4.5, [1, 2, 3]]

# Ejercicio clase 3
El día de hoy vamos a terminar de revisar el tema de programación

In [7]:
ejemplotupla = (3, 4, 5)
type(ejemplotupla)

tuple

In [8]:
nombre1 = "faride"
print(nombre1)

faride

In [9]:
print(ejemplotupla[0])

3

In [48]:
ejemplotupla[0] = 7

TypeError: 'tuple' object does not support item assignment

In [11]:
print(ejemplolista[0])

1

In [12]:
ejemplolista[0] = 7
print(ejemplolista)

[7, 2, 3]

In [13]:
ejemplodict = { "primera clase": "4 de Mayo", "Segunda Clase":"11 de Mayo"}
print(ejemplodict)

{'primera clase': '4 de Mayo', 'Segunda Clase': '11 de Mayo'}

In [14]:
ejemplodict["primera clase"]

'4 de Mayo'

In [15]:
dictionary = {"clave":  "valor", "numero":1}
dictionary

{'clave': 'valor', 'numero': 1}

# Clase 3

In [22]:
VARIABLe = 3

In [23]:
VAriaBLE = 5

In [24]:
VARIABLe == VAriaBLE

False

In [33]:
var1 = "hola"
var1

'hola'

In [34]:
del(var1)

In [35]:
var1

NameError: name 'var1' is not defined

In [36]:
4.5 in listadevar

True

In [37]:
listadevar

['Hayde', 9, 4.5, [7, 2, 3]]

In [38]:
8 in listadevar

False

In [39]:
8 not in listadevar

True

In [45]:
if 8 not in listadevar:
    print("No está el 8 en la lista")
else:
    print("Si está en la lista")

No está el 8 en la lista

In [50]:
num1 = 8
num2 = 9
num3 = 10

In [52]:
total = num1 + \
        num2 + \
        num3
total

SyntaxError: invalid syntax (485141920.py, line 1)