In [1]:
# Importando librerias
import pandas as pd

In [2]:
# Cargando mis datos como dataframe
data = pd.read_csv("notes.csv")

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
# visualizar los primeros 5 renglones
data.head()

    Nombre  nota
0  Araceli     9
1   Manuel     5
2    Pablo     7
3    Iñigo     4
4    Mario     3

In [5]:
# Funcion que me permite ver la estadistica descriptiva
data.describe()

            nota
count  13.000000
mean    5.615385
std     2.364264
min     2.000000
25%     4.000000
50%     5.000000
75%     7.000000
max    10.000000

In [6]:
# Calcular la media con pandas
media = data["nota"].mean()
media

5.615384615384615

In [7]:
# Calcular la mediana con pandas
mediana = data["nota"].median()
mediana

5.0

In [8]:
# Calcular la moda con pandas
moda = data["nota"].mode()
int(moda)

/var/folders/vq/wc9_6gmx0h7gnvz5psj3xdnh0000gn/T/ipykernel_4002/477175937.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(moda)

4

In [9]:
# Calcular el rango con pandas

rango = data["nota"].max() - data["nota"].min()
rango

8

In [10]:
# Calcular la desviación estandar con pandas

std = data["nota"].std()
std

2.364263857893951

## Calculos con numpy

In [11]:
import numpy as np
from scipy import stats

In [12]:
peyitos = [600, 470, 170, 430, 300]

In [14]:
np.mean(peyitos)

394.0

In [15]:
np.median(peyitos)

430.0

In [16]:
stats.mode(peyitos)

ModeResult(mode=170, count=1)

In [17]:
np.var(peyitos)

21704.0

In [18]:
np.std(peyitos)

147.32277488562318